@import "tailwindcss";

@font-face {
  font-family: "Host Grotesk Light";
  src: url('../../public/font.ttf') format('truetype');
}

*{
  font-family: "Host Grotesk Light";
}

::-webkit-scrollbar{
  width: 0px
}

::-webkit-scrollbar-thumb{
  background: #141111;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #555;
}